Repository pagopa/oneidentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-oneid-fe, eslint-oneid-control-panel

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    # antonbabenko/pre-commit-terraform@v1.98.0
    rev: e5f4170e017cfa2a848a1be0763bdab683076242
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
  - repo: https://github.com/gitleaks/gitleaks
    # gitleaks/gitleaks@8.28.0
    rev: 4fb43823ef3d152d239e92d7d5cb04783b548062
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: eslint-oneid-fe
        name: eslint oneid-fe
        entry: bash -c 'cd src/oneid/oneid-fe && yarn eslint --fix --cache --config eslint.config.mjs "${@/#src\/oneid\/oneid-fe\/}"' --
        language: system
        files: "^src/oneid/oneid-fe/.*\\.(js|jsx|ts|tsx)$"
        stages: [pre-push]

      - id: eslint-oneid-control-panel
        name: eslint oneid-control-panel
        entry: bash -c 'cd src/oneid/oneid-control-panel && yarn eslint --fix --cache --config eslint.config.mjs "${@/#src\/oneid\/oneid-control-panel\/}"' --
        language: system
        files: "^src/oneid/oneid-control-panel/.*\\.(js|jsx|ts|tsx)$"
        stages: [pre-push]

test: update SSM parameter retrieval in createConsentDeniedSamlResponse tests
  src/oneid/oneid-ecs-internal-idp/src/test/java/it/pagopa/oneid/service/InternalIDPServiceImplTest.java
Due: none

chore: avoid duplicate code (common methods)
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/web/controller/InternalIDPController.java
Due: none

feat(internal idp): redirect post deny (#1009)
  .changeset/chatty-months-nail.md
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPService.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/SessionService.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/SessionServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/web/controller/InternalIDPController.java
  src/oneid/oneid-ecs-internal-idp/src/test/java/it/pagopa/oneid/service/InternalIDPServiceImplTest.java
  src/oneid/oneid-ecs-internal-idp/src/test/java/it/pagopa/oneid/service/SessionServiceImplTest.java
Due: none

chore: add changeset
  .changeset/fast-aliens-admire.md
Due: none

feat: add core edits to adapt to agid doc
  src/oneid/oneid-common/connector/src/test/java/it/pagopa/oneid/common/connector/ClientConnectorImplTest.java
  src/oneid/oneid-common/model/src/main/java/it/pagopa/oneid/common/model/Client.java
  src/oneid/oneid-common/model/src/main/java/it/pagopa/oneid/common/model/ClientExtended.java
  src/oneid/oneid-common/utils/src/main/java/it/pagopa/oneid/common/utils/SAMLUtilsConstants.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SAMLService.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SAMLServiceImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/utils/SAMLUtilsExtendedCore.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/web/controller/OIDCController.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/service/MockClientProducer.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/service/SAMLServiceImplTest.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/web/controller/OIDCControllerTest.java
Due: none

feat: add internal idp edits to adapt to agid doc
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/model/IDPSession.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPService.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/SessionServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/web/controller/InternalIDPController.java
  src/oneid/oneid-ecs-internal-idp/src/test/java/it/pagopa/oneid/service/InternalIDPServiceImplTest.java
Due: none

feat: add internal idp support for spid-minors
  src/oneid/metadata/test/dev/spid.xml
Due: none

feat: add lambda service-metadata edits to adapt to agid doc
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/SAMLUtilsExtendedMetadata.java
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/ServiceMetadata.java
Due: none

feat: add client registration edits to adapt to agid doc
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/model/dto/ClientRegistrationDTO.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/utils/ClientUtils.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/validator/SpidMinorsValidator.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/validator/annotations/SpidMinorsCheck.java
Due: none

feat: implement SPID Minors ageParentAuth
  src/oneid/oneid-control-panel/eslint.config.mjs
  src/oneid/oneid-control-panel/src/components/ToggleSection.test.tsx
  src/oneid/oneid-control-panel/src/components/TooltipContent.test.tsx
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.test.tsx
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.tsx
  src/oneid/oneid-control-panel/src/pages/Users/ManageUsers/AddOrUpdateUser.tsx
  src/oneid/oneid-control-panel/src/types/api.ts
Due: eslint-oneid-control-panel

chore: remove stale duplicated tests
  src/oneid/oneid-ecs-internal-idp/src/test/java/it/pagopa/oneid/service/InternalIDPServiceImplTest.java
Due: none

refactor: footer links declarations
  src/oneid/oneid-fe/src/components/footer/Footer.test.tsx
  src/oneid/oneid-fe/src/components/footer/Footer.tsx
  src/oneid/oneid-fe/src/utils/constants.ts
Due: eslint-oneid-fe

chore: add todo for acsIndex implementation
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/SAMLUtilsExtendedMetadata.java
Due: none

chore: bump actions/checkout and actions/setup-node to use node 24.x
  .github/workflows/deploy-fe-ci.yaml
  .github/workflows/test-fe.yaml
Due: none

fix: remove wrong maxAge check
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/web/controller/InternalIDPController.java
Due: none

feat: handle SPID Minors changes with metadata confirm dialog
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.test.tsx
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.tsx
Due: eslint-oneid-control-panel

fix: handle null values for maxAge and ageParentAuth in InternalIDPServiceImpl
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
Due: none

chore: add changeset
  .changeset/sunny-beds-count.md
Due: none

feat: implement parametric acs index when generating metadata
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/SAMLUtilsExtendedMetadata.java
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/ServiceMetadata.java
Due: none

fix: correct casing for canceledByUser in error handling and localization
  src/oneid/oneid-fe/src/hooks/useLoginError.tsx
  src/oneid/oneid-fe/src/locale/it.ts
Due: eslint-oneid-fe

fix: correct typo in errorMap variable name
  src/oneid/oneid-fe/src/hooks/useLoginError.tsx
Due: eslint-oneid-fe

fix: set acsIndex to its value on update
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/ClientRegistrationServiceImpl.java
Due: none

fix: disable retry button if no stored OIDC parameters are available
  src/oneid/oneid-fe/src/pages/loginError/LoginError.tsx
Due: eslint-oneid-fe

test: update testing
  src/oneid/oneid-fe/src/hooks/useLoginError.test.tsx
  src/oneid/oneid-fe/src/pages/loginError/LoginError.test.tsx
Due: eslint-oneid-fe

chore: add sns notification for when spid minors attributes are updated
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/utils/ClientUtils.java
Due: none

fix: increase max age limit in idpUserSchema to 999
  src/oneid/oneid-control-panel/src/types/api.ts
Due: eslint-oneid-control-panel

chore: correct changeset
  .changeset/sunny-beds-count.md
Due: none

feat: add sorting after scan of Clients table
  src/oneid/oneid-common/connector/src/main/java/it/pagopa/oneid/common/connector/ClientConnectorImpl.java
Due: none

feat: update S3 bucket object ownership to ObjectWriter for metrics archiver
  src/infra/modules/storage/metrics_archiver.tf
Due: none

chore: changeset
  .changeset/pink-mirrors-smoke.md
Due: none

refactor: add correct implementation of update and registration with the dynamic acsIndex
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/ClientRegistrationServiceImpl.java
Due: none

chore: remove install state
  .gitignore
  src/oneid/oneid-control-panel/.yarn/install-state.gz
Due: none

feat: enable metrics archiver and update related configurations
  .changeset/little-masks-mix.md
  src/infra/dev/eu-south-1/main.tf
  src/infra/modules/backend/lambda.tf
  src/infra/modules/backend/locals.tf
  src/infra/modules/backend/variables.tf
  src/infra/modules/storage/metrics_archiver.tf
  src/infra/modules/storage/variables.tf
  src/infra/prod/eu-south-1/main.tf
  src/infra/uat/eu-south-1/main.tf
Due: none

fix: update vite package version and integrity in yarn.lock
  src/oneid/oneid-fe/yarn.lock
Due: none

fix: add age handling for users management in control panel
  src/oneid/oneid-lambda-client-manager/index.py
  src/oneid/oneid-lambda-client-manager/test_index.py
Due: none

feat: add CloudWatch metrics stream configuration and IAM roles for metrics archiver
  src/infra/dev/eu-south-1/main.tf
  src/infra/modules/monitoring/locals.tf
  src/infra/modules/monitoring/metric_stream.tf
  src/infra/modules/monitoring/variables.tf
  src/infra/prod/eu-south-1/main.tf
  src/infra/uat/eu-south-1/main.tf
Due: none

feat: add acr attribute to SAML assertion attributes
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SAMLServiceImpl.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/service/SAMLServiceImplTest.java
Due: none

feat: include auth level in SAML response generation
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
Due: none

refactor: Add correct implementation for spid minors (#1011)
  .changeset/sunny-beds-count.md
  src/oneid/metadata/test/dev/spid.xml
  src/oneid/oneid-common/connector/src/main/java/it/pagopa/oneid/common/connector/ClientConnectorImpl.java
  src/oneid/oneid-common/connector/src/test/java/it/pagopa/oneid/common/connector/ClientConnectorImplTest.java
  src/oneid/oneid-common/model/src/main/java/it/pagopa/oneid/common/model/Client.java
  src/oneid/oneid-common/model/src/main/java/it/pagopa/oneid/common/model/ClientExtended.java
  src/oneid/oneid-common/utils/src/main/java/it/pagopa/oneid/common/utils/SAMLUtilsConstants.java
  src/oneid/oneid-control-panel/eslint.config.mjs
  src/oneid/oneid-control-panel/src/components/ToggleSection.test.tsx
  src/oneid/oneid-control-panel/src/components/TooltipContent.test.tsx
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.test.tsx
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.tsx
  src/oneid/oneid-control-panel/src/pages/Users/ManageUsers/AddOrUpdateUser.tsx
  src/oneid/oneid-control-panel/src/types/api.ts
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SAMLService.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SAMLServiceImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/utils/SAMLUtilsExtendedCore.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/web/controller/OIDCController.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/service/MockClientProducer.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/service/SAMLServiceImplTest.java
  src/oneid/oneid-ecs-core/src/test/java/it/pagopa/oneid/web/controller/OIDCControllerTest.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/model/IDPSession.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPService.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/InternalIDPServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/SessionServiceImpl.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/web/controller/InternalIDPController.java
  src/oneid/oneid-ecs-internal-idp/src/test/java/it/pagopa/oneid/service/InternalIDPServiceImplTest.java
  src/oneid/oneid-lambda-client-manager/index.py
  src/oneid/oneid-lambda-client-manager/test_index.py
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/model/dto/ClientRegistrationDTO.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/ClientRegistrationServiceImpl.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/utils/ClientUtils.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/validator/SpidMinorsValidator.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/validator/annotations/SpidMinorsCheck.java
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/SAMLUtilsExtendedMetadata.java
  src/oneid/oneid-lambda-service-metadata/src/main/java/it/pagopa/oneid/ServiceMetadata.java
Due: eslint-oneid-control-panel

fix/oi-624-hide-retry-button-with-api-flow (#1012)
  .changeset/pink-mirrors-smoke.md
  .gitignore
  src/oneid/oneid-control-panel/.yarn/install-state.gz
  src/oneid/oneid-fe/src/hooks/useLoginError.test.tsx
  src/oneid/oneid-fe/src/hooks/useLoginError.tsx
  src/oneid/oneid-fe/src/locale/it.ts
  src/oneid/oneid-fe/src/pages/loginError/LoginError.test.tsx
  src/oneid/oneid-fe/src/pages/loginError/LoginError.tsx
  src/oneid/oneid-fe/yarn.lock
Due: eslint-oneid-fe
