Repository pagopa/oneidentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-oneid-fe, eslint-oneid-control-panel

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    # antonbabenko/pre-commit-terraform@v1.98.0
    rev: e5f4170e017cfa2a848a1be0763bdab683076242
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
  - repo: https://github.com/gitleaks/gitleaks
    # gitleaks/gitleaks@8.28.0
    rev: 4fb43823ef3d152d239e92d7d5cb04783b548062
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: eslint-oneid-fe
        name: eslint oneid-fe
        entry: bash -c 'cd src/oneid/oneid-fe && yarn eslint --fix --cache --config eslint.config.mjs "${@/#src\/oneid\/oneid-fe\/}"' --
        language: system
        files: "^src/oneid/oneid-fe/.*\\.(js|jsx|ts|tsx)$"
        stages: [pre-push]

      - id: eslint-oneid-control-panel
        name: eslint oneid-control-panel
        entry: bash -c 'cd src/oneid/oneid-control-panel && yarn eslint --fix --cache --config eslint.config.mjs "${@/#src\/oneid\/oneid-control-panel\/}"' --
        language: system
        files: "^src/oneid/oneid-control-panel/.*\\.(js|jsx|ts|tsx)$"
        stages: [pre-push]

fix: remove resteasy from lambda service, use quarkus-rest
  src/oneid/oneid-lambda-service-metadata/pom.xml
Due: none

fix: fix 420 status code
  src/infra/api/oi-admin.tpl.json
Due: none

refactor: terraform docs
  src/infra/dev/eu-south-1/README.md
  src/infra/modules/backend/README.md
Due: none

refactor: remove unused imports
  src/oneid/oneid-common/connector/src/main/java/it/pagopa/oneid/common/connector/PDVApiPlanClient.java
Due: none

feat: add uc update in case pairwise already true and other changes are required
  src/oneid/oneid-common/utils/src/main/java/it/pagopa/oneid/common/utils/SSMConnectorUtilsImpl.java
  src/oneid/oneid-common/utils/src/test/java/it/pagopa/oneid/common/utils/SSMConnectorUtilsImplTest.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/service/ClientRegistrationServiceImpl.java
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/service/ClientRegistrationServiceImplTest.java
Due: none

test: add ut
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/exception/mapper/ExceptionMapperTest.java
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/service/ClientRegistrationServiceImplTest.java
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/web/controller/ClientRegistrationControllerTest.java
Due: none

refactor: remove useless PDVApiKey
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/model/groups/ValidationGroups.java
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/controller/ClientRegistrationController.java
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/web/controller/ClientRegistrationControllerTest.java
Due: none

refactor: plan_list in plan-list endpoint
  src/infra/api/oi-admin.tpl.json
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/controller/ClientRegistrationController.java
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/web/controller/ClientRegistrationControllerTest.java
Due: none

feat: add infra pdv plan url variables
  src/infra/prod/eu-south-1/README.md
  src/infra/prod/eu-south-1/main.tf
  src/infra/prod/eu-south-1/variables.tf
  src/infra/uat/eu-south-1/README.md
  src/infra/uat/eu-south-1/main.tf
  src/infra/uat/eu-south-1/variables.tf
Due: none

refactor: comment move pdv api properties in common
  src/oneid/oneid-common/connector/src/test/resources/application.properties
  src/oneid/oneid-ecs-core/src/main/resources/application.properties
  src/oneid/oneid-lambda-client-registration/src/main/resources/application.properties
Due: none

feat: add api conf
  src/infra/api/oi-admin.tpl.json
  src/infra/modules/backend/README.md
Due: none

refactor: reduce timeout plan api
  src/oneid/oneid-common/connector/src/main/resources/application.properties
  src/oneid/oneid-ecs-core/src/main/resources/application.properties
  src/oneid/oneid-lambda-client-registration/src/main/resources/application.properties
Due: none

feat: changset update
  .changeset/flat-insects-accept.md
Due: none

feat: add oneidentity minor bump
  .changeset/bumpy-doors-wash.md
Due: none

refactor: remove brew dependency and add checks for required commands
  scripts/setup-pre-commit-hooks.sh
Due: none

chore: add terraform docs
  src/infra/dev/eu-south-1/README.md
  src/infra/modules/frontend/README.md
  src/infra/modules/storage/README.md
Due: none

feat: update log level from DEBUG to INFO for prod env
  src/infra/prod/eu-south-1/README.md
  src/infra/prod/eu-south-1/main.tf
  src/infra/prod/eu-south-1/variables.tf
  src/oneid/oneid-ecs-core/src/main/resources/application.properties
  src/oneid/oneid-ecs-internal-idp/src/main/resources/application.properties
  src/oneid/oneid-lambda-client-registration/src/main/resources/application.properties
  src/oneid/oneid-lambda-idp-mock/src/main/resources/application.properties
  src/oneid/oneid-lambda-is-gh-integration/src/main/resources/application.properties
  src/oneid/oneid-lambda-service-metadata/src/main/resources/application.properties
  src/oneid/oneid-lambda-update-idp-metadata/src/main/resources/application.properties
  src/oneid/oneid-lambda-update-status/lambda.py
Due: none

feat: add new zod schema
  src/oneid/oneid-control-panel/src/types/api.ts
  src/oneid/oneid-control-panel/src/utils/env.ts
Due: eslint-oneid-control-panel

feat: add new client and header to update/create function
  src/oneid/oneid-control-panel/src/api/register.ts
  src/oneid/oneid-control-panel/src/hooks/useRegister.ts
Due: eslint-oneid-control-panel

test: ut
  src/oneid/oneid-control-panel/src/api/register.test.ts
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.test.tsx
Due: eslint-oneid-control-panel

feat: add validate and plan endpoint
  src/oneid/oneid-control-panel/.env.dev
  src/oneid/oneid-control-panel/.env.development
  src/oneid/oneid-control-panel/.env.prod
  src/oneid/oneid-control-panel/.env.uat
Due: none

refactor: code style
  src/oneid/oneid-control-panel/src/api/register.ts
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.tsx
  src/oneid/oneid-control-panel/src/types/api.ts
Due: eslint-oneid-control-panel

test: register ut
  src/oneid/oneid-control-panel/src/api/register.test.ts
Due: eslint-oneid-control-panel

feat: add pairwise switch
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.tsx
Due: eslint-oneid-control-panel

refactor: update logging levels
  src/oneid/oneid-common/connector/src/main/java/it/pagopa/oneid/common/connector/IDPConnectorImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/connector/SessionConnectorImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/OIDCServiceImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SAMLServiceImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/SessionServiceImpl.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/service/utils/SAMLUtilsExtendedCore.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/web/controller/OIDCController.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/web/controller/OneIDController.java
  src/oneid/oneid-ecs-core/src/main/java/it/pagopa/oneid/web/controller/SAMLController.java
  src/oneid/oneid-ecs-internal-idp/src/main/java/it/pagopa/oneid/service/SessionServiceImpl.java
  src/oneid/oneid-lambda-client-manager/index.py
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/controller/ClientRegistrationController.java
  src/oneid/oneid-lambda-is-gh-integration/src/main/java/it/pagopa/oneid/connector/GitHubConnectorImpl.java
  src/oneid/oneid-lambda-is-gh-integration/src/main/java/it/pagopa/oneid/web/ISGHIntegration.java
Due: none

chore: add changeset
  .changeset/short-parents-look.md
Due: none

refactor: comments implementation
  src/infra/api/oi-admin.tpl.json
  src/oneid/oneid-control-panel/src/api/register.ts
  src/oneid/oneid-control-panel/src/pages/Dashboard/Dashboard.tsx
  src/oneid/oneid-lambda-client-registration/src/main/java/it/pagopa/oneid/web/controller/ClientRegistrationController.java
  src/oneid/oneid-lambda-client-registration/src/test/java/it/pagopa/oneid/web/controller/ClientRegistrationControllerTest.java
Due: eslint-oneid-control-panel

test: uncommitted test
  src/oneid/oneid-control-panel/src/api/register.test.ts
Due: eslint-oneid-control-panel

chore: add changeset
  .changeset/cyan-actors-brush.md
  .changeset/forty-cars-invent.md
Due: none

feat: Increase ECS autoscaling capacity
  src/infra/modules/backend/ecs.tf
  src/infra/prod/eu-central-1/README.md
  src/infra/prod/eu-central-1/variables.tf
  src/infra/prod/eu-south-1/README.md
  src/infra/prod/eu-south-1/variables.tf
Due: none

feat: Set ecs min and max capacity switch region workflow
  .github/workflows/switch-region.yml
Due: none

fix: Cpu low alarm and scaling adjustment as var
  src/infra/dev/eu-south-1/main.tf
  src/infra/dev/eu-south-1/variables.tf
  src/infra/modules/backend/ecs.tf
  src/infra/modules/backend/variables.tf
  src/infra/prod/eu-central-1/main.tf
  src/infra/prod/eu-central-1/variables.tf
  src/infra/prod/eu-south-1/main.tf
  src/infra/prod/eu-south-1/variables.tf
  src/infra/uat/eu-south-1/main.tf
  src/infra/uat/eu-south-1/variables.tf
Due: none

chore: Add changeset
  .changeset/quiet-birds-wait.md
Due: none

fix: Set correct ecs scaling values
  .github/workflows/switch-region.yml
  src/infra/prod/eu-central-1/variables.tf
  src/infra/prod/eu-south-1/variables.tf
Due: none

feat: Increase ECS autoscaling capacity (#907)
  .changeset/quiet-birds-wait.md
  .github/workflows/switch-region.yml
  src/infra/dev/eu-south-1/main.tf
  src/infra/dev/eu-south-1/variables.tf
  src/infra/modules/backend/ecs.tf
  src/infra/modules/backend/variables.tf
  src/infra/prod/eu-central-1/README.md
  src/infra/prod/eu-central-1/main.tf
  src/infra/prod/eu-central-1/variables.tf
  src/infra/prod/eu-south-1/README.md
  src/infra/prod/eu-south-1/main.tf
  src/infra/prod/eu-south-1/variables.tf
  src/infra/uat/eu-south-1/main.tf
  src/infra/uat/eu-south-1/variables.tf
Due: none

feat: add courtesy pages - bump: mui-italia to support new illustrations
  src/oneid/oneid-fe/.env.development
  src/oneid/oneid-fe/package.json
  src/oneid/oneid-fe/src/App.tsx
  src/oneid/oneid-fe/src/components/Layout.tsx
  src/oneid/oneid-fe/src/components/footer/Footer.tsx
  src/oneid/oneid-fe/src/pages/courtesy/ServiceKO.tsx
  src/oneid/oneid-fe/src/pages/courtesy/SwitchToIO.tsx
  src/oneid/oneid-fe/src/utils/constants.ts
  src/oneid/oneid-fe/yarn.lock
Due: eslint-oneid-fe

feat(oneid-fe): multipage build with courtesy pages
  src/oneid/oneid-fe/service-ko.html
  src/oneid/oneid-fe/src/App.tsx
  src/oneid/oneid-fe/src/courtesy/service-ko.tsx
  src/oneid/oneid-fe/src/courtesy/switch-to-io.tsx
  src/oneid/oneid-fe/switch-to-io.html
  src/oneid/oneid-fe/vite.config.mts
Due: eslint-oneid-fe

chore(oneid-fe): remove unused courtesy constants
  src/oneid/oneid-fe/src/utils/constants.ts
Due: eslint-oneid-fe

feat: add courtesy pages (#920)
  src/oneid/oneid-fe/.env.development
  src/oneid/oneid-fe/package.json
  src/oneid/oneid-fe/service-ko.html
  src/oneid/oneid-fe/src/components/Layout.tsx
  src/oneid/oneid-fe/src/components/footer/Footer.tsx
  src/oneid/oneid-fe/src/courtesy/service-ko.tsx
  src/oneid/oneid-fe/src/courtesy/switch-to-io.tsx
  src/oneid/oneid-fe/src/pages/courtesy/ServiceKO.tsx
  src/oneid/oneid-fe/src/pages/courtesy/SwitchToIO.tsx
  src/oneid/oneid-fe/switch-to-io.html
  src/oneid/oneid-fe/vite.config.mts
  src/oneid/oneid-fe/yarn.lock
Due: eslint-oneid-fe

fix: Scale down ecs tasks
  .github/workflows/switch-region.yml
  src/infra/prod/eu-south-1/variables.tf
Due: none
